{% extends 'base.html' %}
{% block title %} О сайте {% endblock %}

{% block content %}

    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row tm-mb-40">
                <div class="col-12">
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">О сайте</h2>
                        <p>
                            Это мой первый пет-проект. Он очень простой.
                            Служит для меня тренажёром для последующей разработки.

                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}