{% extends 'base.html' %}

{% block title %} Авторизация {% endblock %}

{% block content %}

    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">
                        <div>
                            <form action="" class="mb-5 tm-comment-form" method="post">
                                {% csrf_token %}
                                <h2 class="tm-color-primary tm-post-title mb-4">Авторизация</h2>
                                <div class="mb-4">
                                    <input class="form-control" placeholder="Введите ваше имя" name="name" type="text">
                                </div>
                                <div class="mb-4">
                                    <input type="password" class="form-control" placeholder="Введите пароль" name="password" type="text">
                                </div>
                                <div>
                                    <button class="tm-btn tm-btn-primary tm-btn-small" type="submit">Войти</button>
                                    <a href="http://127.0.0.1:8000/register" class="tm-color-gray">Регистрация</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}