{% extends 'base.html' %}

{% block title %} Контакты {% endblock %}

{% block content %}

    <div class="container-fluid">
        <main class="tm-main">

            <div class="row tm-row tm-mb-120">
                <div class="col-12">
                    <h2 class="tm-color-primary tm-post-title tm-mb-60">Мои контакты</h2>
                </div>
                <div class="col-lg-5 tm-contact-right">
                    <span class="mb-4 d-block">
                        Email:
                        <br>
                        <a href="mailto:maksimdibriy@gmail.com" class="tm-color-gray">maksimdibriy@gmail.com</a>
                    </span>
                    <span class="mb-4 d-block">
                        Telegram:
                        <br>
                        <a href="https://t.me/ForMonolith" class="tm-color-gray">@ForMonolith</a>
                    </span>
                </div>
            </div>
        </main>
    </div>

{% endblock %}