{% extends 'base.html' %}

{% block title %} Сменить имя пользователя {% endblock %}

{% block content %}


    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">
                        <div>
                            <form action="" class="mb-5 tm-comment-form" method="post">
                                {% csrf_token %}
                                <h2 class="tm-color-primary tm-post-title mb-4">Смена имени пользователя</h2>
                                <div class="mb-4">
                                    <input type="text" class="form-control" placeholder="Введите новое имя" name="name" required maxlength="10">
                                </div>
                                <div class="mb-4">
                                    <input type="password" class="form-control" placeholder="Введите пароль" name="password" required>
                                </div>
                                <div>
                                    <button class="tm-btn tm-btn-primary tm-btn-small" type="submit">Подтвердить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}
